#design-lab {
    width: 100%;
    height: 400px;
    margin: 0 auto;
}

.navbar {
    color: #777;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top:6px;
    padding-bottom:6px;
    min-height: 0px;
    margin-bottom: 30px;
}
.nav>li {
    padding-left:15px;
    padding-right:15px;
}

.nav .after-icon {
    padding-left: 3px;
}

.navbar-nav {
    float:none;
    display: inline-block;
}

.border {
    border: 1px solid #777;
    border-radius: 4px;
    padding: 2px;
}

.controls {
    min-height: 400px;
}
